.bubbleChart {
	backface-visibility: hidden;
	.node {
		overflow: hidden;
		position: absolute;
	}
	.content {
		position: absolute;
		left: 15%;
		top: 10%;
		right: 15%;
		bottom: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.circle {
		border-radius: 100%;
		&::after {
			display: block;
			content: "";
			padding-bottom: 100%;
		}
	}

	.header {
		position: absolute;
		transform: rotate(25deg);
		font-weight: bold;
		font-size: 6px;
	}

	.connector {
		position: absolute;
		height: 2px;
		background-color: #000;
		transform-origin: 0% 0%;
		& > div {
			position: absolute;
			top: 50%;
		}
		.head,
		.tail {
			&.circle {
				background-color: #000;
				width: 10px;
				height: 10px;
			}
			&.arrow {
				background-color: transparent;
				width: 30px;
				height: 30px;
				box-sizing: border-box;
				border-left: 2px solid #fff;
				border-top: 2px solid #fff;
			}
			&.fillArrow {
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-bottom: 30px solid #fff;
			}
		}
		.head {
			&.circle {
				transform: translate3d(-50%, -50%, 0);
			}
			&.arrow {
				transform: translate3d(10%, -50%, 0) rotate(-45deg);
			}
			&.fillArrow {
				transform: translate3d(-35%, -50%, 0) scale(1, 0.4) rotate(-90deg);
			}
		}
		.tail {
			right: 0;
			&.circle {
				transform: translate3d(50%, -50%, 0);
			}
			&.arrow {
				top: -1px;
				transform: translate3d(-10%, -45%, 0) rotate(135deg);
			}
			&.fillArrow {
				transform: translate3d(35%, -50%, 0) scale(1, 0.4) rotate(90deg);
			}
		}
	}
}
