#feadshipchart {
	.container {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		height: 100%;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 24px;
		user-select: none;

		.chartBox {
			overflow: hidden;
			min-width: 768px;
			width: 100%;
			height: 100%;
		}

		a {
			text-decoration: none;
		}

		h1 {
			color: #fff;
			margin: 0;
			padding: 0;
			font-size: 1em;
			font-weight: bold;
		}
		h2 {
			color: #626f71;
			margin: 0;
			padding: 0;
			font-size: 0.9em;
			font-weight: normal;
		}
		.b3 h1 {
			font-size: 1.1em;
		}

		.b1 {
			background: linear-gradient(135deg, #0e476f 0%, #042240 100%);
		}
		.b2 {
			background: linear-gradient(135deg, #1e2c40 0%, #061630 100%);
		}
		.b3 {
			background: linear-gradient(135deg, #004263 0%, #041831 100%);
		}
		.an {
			background: linear-gradient(135deg, #041831 0%, #004263 100%);
		}

		.connector {
			background-color: #00547a;
			.head,
			.tail {
				&.arrow {
					border-color: #fff;
				}
			}
			.label {
				color: #fff;
				left: 50%;
				font-size: 1.3em;
			}
		}
	}
}
